* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  font-weight: bold;

}

p {
  margin: 33px;

}

body {
  line-height: 18px;
  font-size: 13px;
  margin : 30px;
  font-family: verdana, arial, helvetica,sans-serif;
}